.sales-container {
  padding: 1rem;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.grid-box {
  width: 100%;
  min-height: 300px;
}

.ag-theme-alpine {
  --ag-header-background-color: #003366 !important;
  --ag-header-foreground-color: #dbeafe !important;
  --ag-row-hover-color: #e0f2fe !important;
  font-family: 'Segoe UI', sans-serif !important;
  border-radius: 6px;
}
