.sales-container {
  padding: 0;
  background-color: transparent;
  max-width: 100%;
  ::ng-deep {
    .custom-header {
      background-color: rgb(255, 240, 235) !important;
      color: #333;
      font-weight: 600;
    }
    .ag-theme-alpine .ag-header {
      background-color: rgb(255, 240, 235) !important;
    }
  }
}

.grid-wrapper {
  width: 100%;
  height: 450px; 
  overflow: hidden; 
}

.ag-theme-alpine {
  width: 100%;
  font-family: 'Segoe UI', sans-serif !important;

  --ag-header-background-color: #003366 !important;
  --ag-header-foreground-color: #dbeafe !important;
  --ag-row-hover-color: #e0f2fe !important;
}

.ag-theme-alpine .ag-header-cell-label {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ag-theme-alpine .ag-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
