.grid-box {
  width: 100%;
}

.ag-theme-alpine {
  --ag-header-background-color: #003366 !important;
  --ag-header-foreground-color: #dbeafe !important;
  --ag-row-hover-color: #dbeafe !important;
  font-family: 'Segoe UI', sans-serif !important;
}
