.grid-box {
  width: 100%;
}
.invoice-container {
  padding: 0;
  background-color: transparent;
  max-width: 100%;
  ::ng-deep {
    .custom-header {
      background-color: rgb(255, 240, 235) !important;
      color: #333;
      font-weight: 600;
    }
    .ag-theme-alpine .ag-header {
      background-color: rgb(255, 240, 235) !important;
    }
  }
}
.ag-theme-alpine {
  --ag-header-background-color: #003366 !important;
  --ag-header-foreground-color: #dbeafe !important;
  --ag-row-hover-color: #dbeafe !important;
  font-family: 'Segoe UI', sans-serif !important;
}
