<div class="container">
  <div class="header-line">
    <h2>
      Customer
      <span class="segmented-button">
        <button [class.active]="selectedType === 'credit'" (click)="selectType('credit')">
          <i class="material-icons">credit_card</i> Credit
        </button>
        <button [class.active]="selectedType === 'debit'" (click)="selectType('debit')">
          <i class="material-icons">account_balance</i> Debit
        </button>
      </span>
      Viewer
    </h2>
  </div>
  <br>
  

  <app-tablewith-items
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [itemColumnDefs]="[]"
  [defaultColDef]="defaultColDef"
  [enableItemPopup]="false"
  [showTitle]="false"
/>
</div>
