.payment-container {
  padding: 10px;
  background-color: transparent;
  ::ng-deep {
    .custom-header {
      background-color: rgb(255, 240, 235) !important;
      color: #333;
      font-weight: 600;
    }
    .ag-theme-alpine .ag-header {
      background-color: rgb(255, 240, 235) !important;
    }
  }
}

h2 {
  text-align: left;
  color: #333;
  margin-bottom: 20px;
}
